extends layout

block content
  script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css")
  link(rel="stylesheet", href="/stylesheets/style.css")
  script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js")
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.min.js")
  div.container.center-div
    div.text-align-center
      h1= title
      p Welcome to #{title}
      div.center-div.message
        p.alert.alert-info #{message}

    if user.userType == 2
      div.row
        h4 Communicate with Admin / Students/ Volunteer via Email
        form.login100-form.validate-form(method='post', action='/email')
          .wrap.form-group
            label.radio-inline
              input.form-control(type='radio', name='userType', value="0") 
              | Volunteers
            label.radio-inline
              input.form-control(type='radio', name='userType', value="1") 
              | Students
            label.radio-inline
              input.form-control(type='radio', name='userType', value="2") 
              | Admins
          .wrap.form-group
            label Subject
              input.form-control(type='text', name='subject')
          .wrap.form-group
            label Email Body
              textarea#summernote.form-control(name="body", placeholder="Write your Email here")
          button#saveButton.btn.btn-primary(type="submit") Send Email
    else if user.userType == 1
       div.row
        form.login100-form.validate-form(method='POST', action='/user/'+user.id, id="xhrSave" )
          input.form-control(type='hidden', name='id', value=user.id) 
          .wrap.form-group
            label.radio-inline
              input.form-control(type='radio', name='userType', value="0", checked=user.userType==0? true : false) 
              | Volunteer
            label.radio-inline
              input.form-control(type='radio', name='userType', value="1", checked=user.userType==1? true : false) 
              | Student
          .form-group
            label First Name
              input.form-control(type='text', name='firstName', value=user.firstName, placeholder='First Name')
              span.focus-input100(data-placeholder='First Name')
          .form-group
            label Last Name
              input.form-control(type='text', name='lastName', value=user.lastName, placeholder='Last Name')
              span.focus-input100(data-placeholder='Last Name')
          .form-group
            label Enter your school/college
              input.form-control(type='text', name='organisation', value=user.organisation, placeholder='Enter your school/college')
              span.focus-input100(data-placeholder='Enter your school/college')
          button#saveButton.btn.btn-primary(type="submit") Update
    else if user.userType == 0
      div.text-align-center
        | Thanks for becoming a volunteer and wait for update from our team
  script(type='text/javascript', src="javascripts/index.js")
    